.contentHeader {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    background-color: #F8FAFC;
}

.breadcrumb {
    color: #5B8DEF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contentBreadcrumb {
    flex: 1;
    display: flex;
    gap: 10px;
}

.contentSearch {
    display: grid;
    grid-template-columns: 1fr 30px 40px;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    padding: 10px;
    align-items: center;
}

.inputSearch {
    background: #F8FAFC !important;
}

.inputSearch input {
    background: #F8FAFC !important;
}

.inputSearch input::placeholder {
    color: #5B8DEF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}